@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>FOOD DEV COMPANY</h2>    
    <p>@Html.ActionLink("All Restaurants", "List", "Restaurants",null, new {@class = "btn btn-primary btn-lg" })</p>
</div>
